:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --color-font: #0b3142;
}
  
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #90708C;
  color: var(--color-font);
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  